* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  background-color: #CFDFE3;
}

.app {
  max-width: 30em;
  margin: 0 auto;
}
.device-list > h2 {
  text-align: center;
}
.device {
  padding: 1em 2em;
  margin: 0.5em;
  background-color: #a5b7bc;
  border: 4px solid #a5b7bc;
  border-radius: 0.3em;
}
.device.on-dragover,
.device:-moz-drag-over {
  border-color: red;
}
.info {
  text-align: center;
  font-style: italic;
  opacity: 0.5;
}
