* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  background-color: #DDE5E7;
}
body, input, button {
  font-family: "Roboto Mono", monospace;
}
h2 {
  text-align: center;
}
h3 {
  font-size: 1.2em;
}

.app {
  margin: 0 auto 2em;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .settings-column,
  .device-column {
    width: 30em;
  }
}
@media screen and (min-width: 1100px) {
  .app {
    width: 65em;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
  }
}
.settings-column,
.device-column {
  max-width: 30em;
}
.settings-column {

}
.device-column {

}


.device-list {
}
.device {
  margin: 0.5em;
  padding: 1em 2em;
  border-radius: 0.3em;
  border: 4px solid #fff;
  background-color: #fff;
}
.device.on-dragover,
.device:-moz-drag-over {
  border-color: #66d1ab;
}
.device > h3,
.device > p {
  pointer-events: none;
}
.info {
  text-align: center;
  font-style: italic;
  opacity: 0.5;
}

.dz-message {
  display: none;
}
.dz-preview {
  margin-left: 0 !important;
}
.dz-image {
  border-radius: 0 !important;
}

.settings-row {
  height: 4em;
  padding: 0 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description {
  padding-left: 1em;
  margin-bottom: 0.5em;
}
.small {
  font-size: 0.8em;
  margin: 0;
}

.textinput-row {
  padding: 0 1em;
  margin-bottom: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings-input,
.settings-btn {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 0.3em;
}
.settings-input {
  flex-grow: 1;
  flex-shrink: 1;

  margin-bottom: 0.5em;
  font-size: 1em;
  padding: 0 1em;
}
.settings-btn {
  flex-shrink: 0;

  padding: 0 1em;
  font-size: 1em;
  font-weight: 600;
  background-color: #7C8689;
  color: #fff;
}
@media screen and (min-width: 400px) {
  .textinput-row {
    flex-direction: row;
  }
  .settings-input,
  .settings-btn {
    width: auto;
  }
  .settings-input {
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .settings-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* The switch - the box around the slider */
.switch {
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cad4d7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #66d1ab;
}

input:focus + .slider {
 box-shadow: 0 0 1px #66d1ab;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}
